.bg-success {
	padding: 11px;
	margin: 10px 0;
}

#dataConfirmModal {
	display: block;
	width: 400px;
	background: #FFFFFF;
	height: 210px;
	left: 50%;
	margin-left: -200px;
	margin-top: 100px;
	border: 1px solid #D5D5D5;
}
ul {
	padding-left: 15px;
}

@media (min-width: 992px) {
	.wrap .fluid-container {
		padding: 20px 80px;
	}
	.navbar-inverse.navbar {
		padding: 0 65px;
	}
}
@media (max-width: 992px) {
	.wrap .fluid-container {
		padding: 10px;
	}	
}
.navbar {
  border-radius: 0px;
}
.message-summary {
	color: #569820;
	background: rgba(58, 255, 73, 0.1);
	border-left: 3px solid #569820;
	padding: 10px 20px;
	margin-top: 20px;
}